{% extends 'base.html' %}

{% block title %}
  <title>Diversity Mining</title>
{% endblock %}

{% block custom_javascript %}
  <script src="{{ url_for('static', filename="js/loadfn.js")}}"></script>
  <script type="text/babel" src="{{ url_for('static', filename="js/reactComponent.js")}}"></script>
{% endblock %} 
    
{% block custom_css %}
  <link rel="stylesheet" href="{{ url_for('static', filename="css/home.css")}}"></link>
{% endblock %}    
  
{% block content %}
  <div id="home-div">
      <div class="container">
        <div class="row justify-content-md-center">
          <div class="col col-md-auto">
            <h1 class="text-center" style="color: white">Diversity Mining</h1>
            <p style="color: white; text-align: center">
              In this project we aim to create diversity scores for fortune 500
              companies. We are doing this by creating a dictionary of
              diversity-related words and phrases and using this dictionary to
              score each company. We are then going to use these scores to
              predict financial performance for the companies.
            </p>
            <br />
            <br />

            <form method="post" action="/get_scores">
            <input type="submit" name="submitbutton" class="button-white center" value="Generate Scores">

            </input>
          </form>

        </div>
      </div>
    </div>
  </div>

  <div class="back-gray">
    <div class="container">
      <div class="row justify-content-md-center">
        <div class="col col-md-auto">
          <img style="padding-right: 15px" height="150px" src="http://www.iconarchive.com/download/i103757/blackvariant/button-ui-ms-office-2016/Excel-2.ico" />
        </div>
        <div class="col col-md-auto d-flex align-content-md-center flex-wrap">
          <h4>
            Upload a CSV file containing the dictionary you would like to use
          </h4>
        </div>
      </div>
      <div class="row justify-content-md-center">
        <div class="col col-md-auto">
          <input id="fileSelect" type="file" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" />
          <button onclick="senddata()">Submit Dictionary</button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

  
