<!-- background-image: linear-gradient(to bottom right, LightCoral, white);

-->

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>

    <!-- JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename="js/picker.js")}}"></script>
    <script type="text/babel" src="{{ url_for('static', filename="js/reactComponent.js")}}"></script>
    
    <script src="https://unpkg.com/react@16/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>

    <!-- CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename="css/home.css")}}"></link>

    <meta charset="utf-8" />
    <title>Diversity Mining</title>
  </head>
  <body>
     <script type="text/javascript" src="https://apis.google.com/js/api.js?onload=onApiLoad"></script>
    <div id="home-div">
      <div class="container">
        <div class="row justify-content-md-center">
          <div class="col col-md-auto">
            <h1 class="text-center" style="color: white">Diversity Mining</h1>
            <br />
            <p style="color: white; text-align: center">
              In this project we aim to create diversity scores for fortune 500
              companies. We are doing this by creating a dictionary of
              diversity-related words and phrases and using this dictionary to
              score each company. We are then going to use these scores to
              predict financial performance for the companies.
            </p>
            <br />
            <br />

            <form method="post" id="getscores" action="/get_scores">
            <input type="submit" style="display:none" name="submitbutton" value="Generate Scores"> 
            <button type="button" id="auth" class="button-white center">Generate Scores</button>


            </input>
          </form>

        </div>
      </div>
    </div>
  </div>

  <div class="back-gray">
    <div class="container">
      <div class="row justify-content-md-center">
        <div class="col col-md-auto">
          <img style="padding-right: 15px" height="150px" src="http://www.iconarchive.com/download/i103757/blackvariant/button-ui-ms-office-2016/Excel-2.ico" />
        </div>
        <div class="col col-md-auto d-flex align-content-md-center flex-wrap">
          <h4>
            Instructions
          </h4>
        </div>
      </div>
      <div class="row justify-content-md-center">
        <div class="col col-md-auto">
          Press the generate scores button and select a folder
          in your google drive that contains the diversity
          dictionary, financial data, and the documents you want to
          score.
        </div>
      </div>
    </div>
  </div>

</body>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous" />
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

</html>
