<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
  	<style>
  	#head_1{
  		text-align: center;
  		font-size: 40px;
  		border-bottom: 6px groove;
  		margin-top: 0px;
  		margin-right: 0px;
  		margin-left: 0px;
  		background-image: linear-gradient(to bottom right, LightCoral, white);
  	}
  	body{
  		background-color: LightCoral;
  		text-align: center;

  	}
  	p{
  		margin: auto;
  		align-self: center;
  		width: 50%;

  	}
  	#body_1{
  		border-bottom: 6px groove;
  	}
  		

  	</style>
    <meta charset="utf-8">
    <title>CSCE 482Diversity Mining</title>
  </head>
  <body>
    <h1 id = "head_1"> CSCE 482 Diversity Mining </h1>
    <p id = "body_1"> In this project we aim to create diversity scores for fortune 500 companies. We are doing this by creating a dictionary of diversity-related words and phrases and using this dictionary to score each company. We are then going to use these scores to predict financial performance for the companies. </p>
    <br>
    <p id = "body_2">
    	This website is currently just a skeleton, more will be coming in the future!
    </p>
  </body>
</html>