{% extends 'base.html' %}

{% block title %}
    <title>Research Methods</title>
{% endblock %}

{% block custom_css %}
    <style>
        .w3-half img{margin-bottom:-6px;margin-top:16px;opacity:0.8;cursor:pointer}
        .w3-half img:hover{opacity:1}
    </style>

    <link rel="stylesheet" href="{{ url_for('static', filename="css/methods.css")}}"/>
{% endblock %}

{% block in_page_nav_links %}
    <a href="#dictionary" class="w3-bar-item w3-button w3-hover-white">Dictionary</a>
    <a href="#scoring" class="w3-bar-item w3-button w3-hover-white">Scoring</a>
    <a href="#correlations" class="w3-bar-item w3-button w3-hover-white">Correlations</a>
{% endblock %}

{% block content %}
    <!-- !PAGE CONTENT! -->
    <div class="w3-main" style="margin-left:340px;margin-right:40px">

        <!-- Header -->
        <div class="w3-container" style="margin-top:80px" id="showcase">
            <h1 class="w3-jumbo"><b>Research Methods</b></h1>
        </div>

        <!-- Dictionary -->
        <div class="w3-container" id="dictionary" style="margin-top:75px">
            <h1 class="w3-xxxlarge w3-text-red"><b>Dictionary.</b></h1>
            <hr style="width:50px;border:5px solid red" class="w3-round">
            <p>We built a dictionary using NLP.</p>
            <p>lorem ipsum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
            dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </p>
        </div>

        <!-- Scoring -->
        <div class="w3-container" id="scoring" style="margin-top:75px">
            <h1 class="w3-xxxlarge w3-text-red">
              <b>Scoring.</b>
            </h1>
            <hr style="width:50px;border:5px solid red" class="w3-round">
            <p>
              We scored company diversity using an algorithm inspired by the field of Information Storage and Retrieval.
            </p>
            <p>
              The field of Information Storage and Retrieval has created algorithms
              which are the building blocks of powerful systems such as Google, Netflix,
              and Amazon. These systems efficiently satisfy the information need of users
              based on some query. In the case of Google, users provide some text query
              and Google returns web page relevant to the query. In the case of Netflix,
              users provide some text query about the movie they would like to watch
              and Netflix returns movies relevant to the query. In the case of Amazon,
              users provide some text query about the product they are searching for
              and Amazon returns links to products relevant to the query. One popular
              algorithm for determining how relevant a document is to a user's query
              is the Term-Frequency-Inverted-Document-Frequency (tf-idf) algorithm,
              which inspired our diversity scoring algorithm.
            </p>

            <p>
              The tf-idf algorithm analyzes how relevant a specific document is to
              a user's query relative to the rest of the document collection. Given
              a term from a user's query, a document, and the document collection,
              the tf-idf algorithm returns the term's frequency in the document, multiplied
              by the inverted document frequency of the term in the document collection.
            </p>

            <p>
              The equation for the tf-idf algorithm is specified below.
            </p>
            <img class="equation" src="{{ url_for('static', filename="img/tfidf.png")}}" alt="tf-idf equation">

            <p>
              The equation for term frequency is specified below.
            </p>
            <img class="equation" src="{{ url_for('static', filename="img/tf.png")}}" alt="tf equation">

            <p>
              The equation for inverted document frequency is specified below.
            </p>
            <img class="equation" src="{{ url_for('static', filename="img/idf.png")}}" alt="idf equation">

            <p>
              The scoring algorithm we created is similar to tf-idf. It analyzes a collection of company documents
              such as the company diversity webpages or their CEO letters to shareholders
              using the diversity dictionary we previously generated and computes
              the diversity score for each document in the document collection.
              To generate the diversity score for a specific company document,
              it computes the tf-idf score for each phrase in the diversity dictionary
              on the specific company document relative to the collection of company documents.
              These phrase tf-idf scores are then summed together to compute the final
              diversity score.
            </p>

            <p>
              The equation for the diversity score is specified below.
            </p>
            <img class="equation" src="{{ url_for('static', filename="img/diversity_score.png")}}" alt="diversity score equation">
        </div>

        <!-- Correlations -->
        <div class="w3-container" id="correlations" style="margin-top:75px">
            <h1 class="w3-xxxlarge w3-text-red"><b>Correlations</b></h1>
            <hr style="width:50px;border:5px solid red" class="w3-round">
            <p>
              We generated correlations between different statistics using the Pearson correlation metric.
            </p>

            <p>
              For each financial statistic displayed, we calculated its correlation between both the diversity scores
              we generated and the diversity scores produced by the Human Rights Campaign, which produces yearly diversity
              scores for Fortune 500 companies. We also calculated the correlation between the diversity scores we generated
              and the diversity scores the Human Rights Campaign generated. All
              of our correlations we calculated using the Pearson correlation metric, which is computed
              by taking the covariance of two datasets divided by the product of the standard deviation of each data set.
            </p>

            <p>
              The equation for the Pearson correlation is specified below.
            </p>
            <img class="equation" src="{{ url_for('static', filename="img/pearson.png")}}" alt="Pearson correlation equation">
        </div>
    <!-- End page content -->
    </div>
{% endblock %}
